@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');
:root{
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(0, 0%, 0%);
    --darkGray: hsl(0, 0%, 55%);
    --veryDarkGray: hsl(0, 0%, 41%);
    --fonSize: 1.5rem;
    --fontFtamily: 'Alata', sans-serif;
    --fontFamily2: 'Josefin Sans', sans-serif;
}
html {
    /* Reset para rems 62.5% = 10px */
    box-sizing: border-box;
    font-size: 62.5%;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
h1,
h2{
    text-transform: uppercase;
    font-weight: 300;
    font-family: var(--fontFamily2);
}
h1{
    color: var(--whiteColor);
    font-size: 7rem;
    border: 3px solid white;
    padding: 2rem;
}
h2{
    color: var(--veryDarkGray);
    font-size: 5rem;
}
body{
    margin: 0;
    padding: 0;
    font-family: var(--fontFtamily);
    font-size: var(--fonSize);
}
figure{
    margin: 0;
}
.division-section{
    margin: 16rem 0;
}
.wrapper{
    max-width: 120rem;
    margin: 0 auto;
}
.header{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1)) ,url(../images/desktop/image-hero.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
}
.nav{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 6rem;
}
ul{
    display: flex;
}
ul a{
    text-decoration: none;
    position: relative;
    margin-left: 3rem;
}
ul a li{
    list-style: none;
    color: var(--whiteColor);
    font-size: 1.8rem;
    padding-bottom: .5rem;
    /* border: 1px solid white; */
}
ul a li:before{
    position: absolute;
    bottom: 0;
    content: "";
    display: block;
    width: 0;
    height: 0.2rem;
    background-color: var(--whiteColor);
    transition: all .3s;
}
ul a li:hover:before{
    width: 100%;
}
ul a li:before{
    left: 0;
}
.header-title{
    height: 40rem;
    width: 100rem;
    margin: 0 auto;
    /* border: 1px solid white; */
}
.container-title{
    height: inherit;
    max-width: 60rem;
    display: flex;
    align-items: flex-end;
    /* justify-content: flex-end; */
}
/*Section interactive*/
.container-interactive{
    /* border: 1px solid black; */
    height: 70rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 6rem;
}
.container-interactive-image{
    height: 80%;
    width: 100%;
    /* border: 1px solid black; */
}
.container-interactive-text{
    /* border: 1px solid black; */
    background-color: var(--whiteColor);
    position: absolute;
    top: 40%;
    left: 50%;
    height: 40rem;
    width: 55rem;
    padding: 5rem 5rem;
}
.container-interactive-text p{
    color: var(--darkGray);
    /* font-size: 1.8rem; */
}
/*Creaciones*/
.creation-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.creation-title h2{
    margin: 0;
}
.creation-title a{
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem 5rem;
    border: 3px solid var(--veryDarkGray);
    color: var(--veryDarkGray);
}
.creation-title a:hover{
    background-color: black;
    color: white;
    /* border: 1px solid black; */
}
.creation-images{
    /* border: 1px solid black; */
    flex-basis: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}
.item{
    margin: 1rem 0;
    height: 450px;
    /* flex-basis: 250px; */
    width: 100%;
    max-width: 250px;
    background-repeat: no-repeat;
    background-size: contain;
    color: #fff;
    /* text-align: end; */
    display: flex;
    align-items: flex-end;
}
.item:hover{
    /* filter: brightness(2); */
    /* filter: grayscale(50%); */
    filter: opacity(75%);
    /* color: black; */
    font-size: 1.8rem;
}
.item h3{
    margin-left: 3.5rem;
    max-width: 20rem;
    font-family: var(--fontFamily2);
    font-weight: 300;
    font-size: 3.5rem;
    text-transform: uppercase;
}
.item:nth-child(4) h3{
    max-width: 15rem;
}
.item:nth-child(1){
    background-image: url(../images/desktop/image-deep-earth.jpg);
    color: white;
    /* text-align: center; */
    /* background-clip: border-box; */
}
.item:nth-child(2){
    background-image: url(../images/desktop/image-night-arcade.jpg);
}

.item:nth-child(3){
    background-image: url(../images/desktop/image-soccer-team.jpg);
}
.item:nth-child(4){
    background-image: url(../images/desktop/image-grid.jpg);
}
.item:nth-child(5){
    background-image: url(../images/desktop/image-from-above.jpg);
}
.item:nth-child(6){
    background-image: url(../images/desktop/image-pocket-borealis.jpg);
}
.item:nth-child(7){
    background-image: url(../images/desktop/image-curiosity.jpg);
}
.item:nth-child(8){
    background-image: url(../images/desktop/image-fisheye.jpg);
}
/*footer*/
footer{
    background-color: #000;
    height: 15rem;
    width: 100%;
    flex-flow: row wrap;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-superior{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: 50%;
}
.container-superior figure img{
    width: 100%;
    max-width: 150px;
}
.icons a{
    margin-left: 2rem;
}
.container-inferior{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50%;
}
.container-inferior a{
    color: var(--darkGray);
    margin-right: 1.5rem;
}
.container-inferior ul{
    margin: 0;
    padding: 0;
}
.container-inferior span{
    color: var(--darkGray);
}
/*768px*/
@media screen and (max-width: 768px){
    .creation-images{
        /* border: 1px solid black; */
        flex-basis: 100%;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: space-between;
    }
}
/*375px*/
@media screen and (max-width: 375px){
    .header .nav ul{
        display: none;
    }
    .header-title{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70%;
        /* margin: 0; */
    }
    .header-title .container-title{
        align-items: center;
        justify-content: center;
        width: inherit;
        margin: 0;
    }
    .header-title .container-title h1{
        font-size: 4rem;
        /* text-align: center; */
    }
    /*Section two image*/
    .container-interactive{
        position: unset;
        padding: 0;
        width: 100%;
        flex-flow: column nowrap;
    }
    .container-interactive-image{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container-interactive-image figure{
        width: 100%;
        display: flex;
        justify-content: center;
        /* border: 1px solid black; */
    }
    .container-interactive-image figure img{
        width: 90%;
        height: 300px;
    }
    .container-interactive-text{
        position: unset;
        width: 100%;
        padding: 0;
    }
    .container-interactive-title{
        width: 100%;
        max-height: 300px;
        margin: 0;
        padding: 0 .5rem;
        /* border: 1px solid black; */
        text-align: center;
    }
    .container-interactive-title h2{
        font-size: 3.5rem;
    }
    .container-interactive-p{
        width: 80%;
        margin: 0 auto;
        text-align: center;
        /* border: 1px solid black; */

    }
    .container-interactive-text p{
        text-align: center;
    }
}