@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');
:root{
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(0, 0%, 0%);
    --darkGray: hsl(0, 0%, 55%);
    --veryDarkGray: hsl(0, 0%, 41%);
    --fonSize: 1.5rem;
    --fontFtamily: 'Alata', sans-serif;
    --fontFamily2: 'Josefin Sans', sans-serif;
}
html {
    /* Reset para rems 62.5% = 10px */
    box-sizing: border-box;
    font-size: 62.5%;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
h1,
h2{
    text-transform: uppercase;
    font-weight: 300;
    font-family: var(--fontFamily2);
}
h1{
    color: var(--whiteColor);
    font-size: 7rem;
    border: 3px solid white;
    padding: 2rem;
}
h2{
    color: var(--veryDarkGray);
    font-size: 5rem;
}
body{
    margin: 0;
    padding: 0;
    font-family: var(--fontFtamily);
    font-size: var(--fonSize);
}
figure{
    margin: 0;
}
.division-section{
    margin: 16rem 0;
}
.wrapper{
    max-width: 120rem;
    margin: 0 auto;
}
.header{
    background-image: url(../images/desktop/image-hero.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
}
.nav{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 6rem;
}
ul{
    display: flex;
}
ul a{
    text-decoration: none;
}
ul a li{
    list-style: none;
    color: var(--whiteColor);
    margin-left: 3rem;
    font-size: 1.8rem;
}
.header-title{
    height: 40rem;
    width: 100rem;
    margin: 0 auto;
    /* border: 1px solid white; */
}
.container-title{
    height: inherit;
    max-width: 60rem;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}
/*Section interactive*/
.container-interactive{
    /* border: 1px solid black; */
    height: 70rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 6rem;
}
.container-interactive-image{
    height: 80%;
    width: 100%;
    /* border: 1px solid black; */
}
.container-interactive-text{
    /* border: 1px solid black; */
    background-color: var(--whiteColor);
    position: absolute;
    top: 40%;
    left: 50%;
    height: 40rem;
    width: 55rem;
    padding: 5rem 5rem;
}
.container-interactive-text p{
    color: var(--darkGray);
    /* font-size: 1.8rem; */
}
/*Creaciones*/
.creation-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.creation-title h2{
    margin: 0;
}
.creation-title a{
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem 5rem;
    border: 3px solid var(--veryDarkGray);
    color: var(--veryDarkGray);
}
.creation-images{
    /* border: 1px solid black; */
    flex-basis: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}
.item{
    margin: 1rem 0;
    height: 450px;
    /* flex-basis: 250px; */
    width: 100%;
    max-width: 250px;
    background-repeat: no-repeat;
    background-size: contain;
    color: #fff;
    /* text-align: end; */
    display: flex;
    align-items: flex-end;
}
.item h3{
    margin-left: 3.5rem;
    max-width: 20rem;
    font-family: var(--fontFamily2);
    font-weight: 300;
    font-size: 3.5rem;
    text-transform: uppercase;
}
.item:nth-child(4) h3{
    max-width: 15rem;
}
.item:nth-child(1){
    background-image: url(../images/desktop/image-deep-earth.jpg);
    /* text-align: center; */
    /* background-clip: border-box; */
}
.item:nth-child(2){
    background-image: url(../images/desktop/image-night-arcade.jpg);
}
.item:nth-child(3){
    background-image: url(../images/desktop/image-soccer-team.jpg);
}
.item:nth-child(4){
    background-image: url(../images/desktop/image-grid.jpg);
}
.item:nth-child(5){
    background-image: url(../images/desktop/image-from-above.jpg);
}
.item:nth-child(6){
    background-image: url(../images/desktop/image-pocket-borealis.jpg);
}
.item:nth-child(7){
    background-image: url(../images/desktop/image-curiosity.jpg);
}
.item:nth-child(8){
    background-image: url(../images/desktop/image-fisheye.jpg);
}