:root{
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(0, 0%, 0%);
    --darkGray: hsl(0, 0%, 55%);
    --veryDarkGray: hsl(0, 0%, 41%);
    --fontSize: 15px;
    --fontFamily: 'Alata', san-serif;
    --fontFamily2: 'Josefina Sans', san-serif;
}